aniso8601==1.2.0
argcomplete==1.9.2
asn1crypto==0.24.0
base58==0.2.4
beautifulsoup4==4.6.0
boto3==1.7.6
botocore==1.10.6
bs4==0.0.1
certifi==2022.12.7
cffi==1.12.3
cfn-flip==1.0.3
chardet==3.0.4
Click==7.0
cryptography==43.0.1
docutils==0.14
durationpy==0.5
Flask==1.0.3
Flask-Ask==0.9.8
future==0.16.0
hjson==3.0.1
idna==2.7
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.9.3
kappa==0.6.0
lambda-packages==0.19.0
MarkupSafe==1.1.1
placebo==0.8.1
pycparser==2.19
pyOpenSSL==19.0.0
python-dateutil==2.8.0
python-slugify==1.2.4
PyYAML==5.4
requests==2.20.1
s3transfer==0.1.13
six==1.12.0
toml==0.9.4
tqdm==4.19.1
troposphere==2.2.1
Unidecode==1.0.22
urllib3==1.26.5
Werkzeug==0.15.4
wsgi-request-logger==0.4.6
zappa==0.45.1
